<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Ingreso</title>

<style type=text/css>{{ get_resource_as_string('static/estilo.css') }}</style>
</head>

<body>

<form id="form1" name="form1" method="post"><center>
  <table width="380" border="0" cellspacing="1" cellpadding="1">
    <tr>
      <td colspan="5" align="center" class="titulo1">Ingreso de Información de Carga</td>
    </tr>
    <tr>
      <td width="11">&nbsp;</td>
      <td width="77">&nbsp;</td>
      <td width="4">&nbsp;</td>
      <td width="228">&nbsp;</td>
      <td width="51">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="letra1">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="letra1">Fecha:</td>
      <td>:</td>
      <td><input type="date" name="x_fecha1" id="x_fecha1" class="letra1" ></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="letra1">Nº vale</td>
      <td></td>
      <td><input name="txt_nval" type="text" class="letra1" id="txt_nval" ></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="letra1">Petrolero</td>
      <td>:</td>
      <td><select name="slc_petrolero" class="letra1" id="slc_petrolero">
        <option value="0">(Todos los Equipos)</option>
        <?
          $sql = "SELECT
        `equipos`.`Id` ,
        `tipo_equipos`.`nombre_equipo`,
        `equipos`.`patente` ,
        `equipos`.`cod_radial`

        FROM `equipos`

        INNER JOIN `tipo_equipos` ON `tipo_equipos`.`Id` = `equipos`.`tipo_equipo` AND `equipos`.`tipo_equipo`= 4

        GROUP BY
        `equipos`.`Id` ,
        `tipo_equipos`.`nombre_equipo`,
        `equipos`.`patente` ,
        `equipos`.`cod_radial`

        ORDER BY

        `tipo_equipos`.`nombre_equipo`,
        `equipos`.`cod_radial`,
        `equipos`.`patente`

        ;";


          $result = mysql_db_query($base_de_datos,$sql);


          while ($row = mysql_fetch_row($result))
                {
                  ?>
                   <option value="<? echo $row[0] ?>"
                     <?
                      if ( $row[0] == $var_equipo )
                      {
                       ?>Selected <?
                      }
                    ?>
                    ><? echo $row[2]." - ".$row[3]." - ".$row[1] ?>
                  </option>
                  <?
                }
          ?>
      </select></td>
      <td>&nbsp;</td>
    </tr>


    <tr>
      <td>&nbsp;</td>
      <td class="letra1">Equipo</td>
      <td>:</td>
      <td><select name="slc_equipo" class="letra1" id="slc_equipo">
        <option value="0">(Todos los Equipos)</option>
        <?
          $sql = "SELECT
				`equipos`.`Id` ,
				`tipo_equipos`.`nombre_equipo`,
				`equipos`.`patente` ,
				`equipos`.`cod_radial`

				FROM `equipos`

				INNER JOIN `tipo_equipos` ON `tipo_equipos`.`Id` = `equipos`.`tipo_equipo`

				GROUP BY
				`equipos`.`Id` ,
				`tipo_equipos`.`nombre_equipo`,
				`equipos`.`patente` ,
				`equipos`.`cod_radial`

				ORDER BY

				`tipo_equipos`.`nombre_equipo`,
				`equipos`.`cod_radial`,
				`equipos`.`patente`

				;";


          $result = mysql_db_query($base_de_datos,$sql);


          while ($row = mysql_fetch_row($result))
                {
                ?>
                  <option value="<? echo $row[0] ?>"
                   <?
                    if ( $row[0] == $var_equipo )
					   {
						?>Selected <?
					   }
				    ?>
                  ><? echo $row[2]." - ".$row[3]." - ".$row[1] ?></option>
                 <?
                }
          ?>
      </select></td>
      <td>&nbsp;</td>
    </tr>




    <tr>
      <td>&nbsp;</td>
      <td class="letra1">Predio</td>
      <td>:</td>
      <td><select name="slc_predio" class="letra1" id="slc_predio">
        <option value="0">(Todos los Predios)</option>
        <?
	  $sql = "SELECT `combustible_temporal`.`predio` , `predio`.`nombre_predio`
				FROM `combustible_temporal`
				INNER JOIN `predio` ON `predio`.`cod_predio` = `combustible_temporal`.`predio`
				GROUP BY `combustible_temporal`.`predio` , `predio`.`nombre_predio`;";
	  $result = mysql_db_query($base_de_datos,$sql);


	  while ($row = mysql_fetch_row($result))
		    {
			?>
        <option value="<? echo $row[0] ?>"
                    <?
                    if ( $row[0] == $var_predio )
					   {
						?>Selected <?
					   }
				    ?>
           ><? echo $row[1] ?></option>
           <?
			}
	  ?>
      </select></td>
      <td>&nbsp;</td>
    </tr>



    <tr>
      <td>&nbsp;</td>
      <td class="letra1">Operador</td>
      <td>:</td>
      <td><input name="txt_op" type="text" class="letra1" id="txt_op"></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="letra1">Horometro</td>
      <td>:</td>
      <td><input name="txt_hrs" type="text" class="letra1" id="txt_hrs" ></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="letra1">Kilometraje</td>
      <td>:</td>
      <td><input name="txt_km" type="text" class="letra1" id="txt_km" ></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="letra1">Surtidor</td>
      <td>:</td>
      <td><input name="txt_sur" type="text" class="letra1" id="txt_sur"></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="letra1">Litros</td>
      <td><p>:</p></td>
      <td><input name="txt_lts" type="text" class="letra1" id="txt_lts" ></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="letra1">&nbsp;</td>
      <td>&nbsp;</td>
      <td><input name="submit" type="submit" id="submit" formaction="ingresa_vale.php" title="Confirmar" value="Confirmar"></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="letra1">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</center>
</form>
</body>
</html>
