<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Disponibilidad</title>
</head>


<body>
  <center><table id="tablaRequisitos">


<tr>
    <td class="letra4">DISPONIBILIDAD</td>
    <td>
     <input type="date" name="x_fecha1" id="x_fecha1" class="letra1" >
     </td>
    <td>&nbsp;</td>

</tr>
<tr>
    <td class="titulo1">&nbsp;</td>
</tr>



</table>

  <tr>
    <td class="titulo1">&nbsp;</td>
</tr>

<center><form id="form_nuevo_disp" name="form_nuevo_disp" action="ingresa_disp.php" method="post">

<table id="tablaRegistros" BORDER="1" class="letra1">
<tr>
   <td bgcolor="#CCCCCC">PATENTE</td>
   <td bgcolor="#CCCCCC">CODIGO RADIAL</td>
   <td align="center" bgcolor="#CCCCCC">ESTADO</td>
</tr>
{% for equipo in equipos %}
<tr>
      <td>{{ '%s' % equipo[1] }}</td>
      <td>{{ '%s' % equipo[2] }}</td>
      <td><input type='checkbox' name='option' value='cn'>con novedad</td>
</tr>
{% endfor %}


</table>
<td>&nbsp;</td>
<td><input type="submit" name="Submit" value="Confirmar"/></td>
</form>
</body>
</html>
