<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Ingreso</title>
</head>

<body>

<center><table id="resumen_petroleo" BORDER="1" class="letra1">
<tr>
   <td bgcolor="#CCCCCC">PATENTE</td>
   <td bgcolor="#CCCCCC">CODIGO RADIAL</td>
   <td bgcolor="#CCCCCC">EQUIPO</td>
   <td bgcolor="#CCCCCC">DIAS OPERATIVO</td>
   <td bgcolor="#CCCCCC">DIAS NO OPERATIVO</td>
   <td bgcolor="#CCCCCC">% DISPONIBILIDAD</td>
</tr>
{% for resumen in resumenes_disponibilidad %}
<tr>
      <td>{{ '%s' % resumen[0] }}</td>
      <td>{{ '%s' % resumen[1] }}</td>
      <td>{{ '%s' % resumen[2] }}</td>
      <td>{{ '%s' % resumen[4] }}</td>
      <td>{{ '%s' % resumen[5] }}</td>
      <td>{{  (resumen[4]/resumen[6]) *100 }}</td>

</tr>
{% endfor %}


</table>
</body>
</html>