<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
<title>Tablero</title>
<link rel="stylesheet" type="text/css" href="estilo.css">
<script type="text/javascript" src="funciones.js"></script>
<script src="js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["gauge"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['%', 0],
          ['%', 0]
        ]);

        var options = {
          width: 650, height: 300,
          redFrom: 0, redTo: 70,
          yellowFrom:70, yellowTo: 95,
          greenFrom:95, greenTo: 120,
          min:0,max:120,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          data.setValue(0, 1, 70 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 2000);
        setInterval(function() {
          data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 2000);
;
      }
</script>
</head>
<body>
  <center><table id="titulo">
<tr>
   <center><td class="titulo1">TABLERO</td>
</tr>
</table>


 <center><table id="tablaRequisitos">
<tr>
    <td class="letra1">Periodo</td>

    <td>
     <select name="slc_periodo" class="letra1" id="slc_periodo" >
      <?
    $sql = "SELECT `Id` , `nombre_ciclo`,`fecha_inicio`,`fecha_termino`
        FROM `ciclos`
        GROUP BY `fecha_inicio` DESC;";
    $result = mysql_db_query($base_de_datos,$sql);
      
    while ($row = mysql_fetch_row($result))
    {
      ?>
      <option value="<? $row[0] ?>"><? echo $row[1] ?></option>
      <? 

    }
    ?>
     </select>
     </td>
    <td>&nbsp;</td>
      <td><div align="left">
      <input type="button" name="button" id="button" value="Consultar" onClick="obtenerRegistros()">
    </div></td>
</tr>
<tr>
    <td class="titulo1">&nbsp;</td>
</tr>
</table>



<center><table id="tablaIndicadores">

<tr>
  <td class="titulo1" width = 20>&nbsp;</td>
    <center><td ><div id="chart_div" ></div></td>
</tr>
<tr>
    <td class="titulo1" >&nbsp;</td>
</tr>
</table>
<center><table id="tablaLinks">
<tr>
    <td ><a href="disponibilidad_transporte.php">DISPONIBILIDAD</a></td>
    <td class="titulo1" width = 200 >&nbsp;</td>
    <td ><a href="petroleo_transporte.php">PETROLEO</a></td>
</tr>
</table>


</body>
</html>